In [10]:
#ADD MORE PRODUCTS
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gcobanidike@25",
  database="mydatabase"
) 

cur=mydb.cursor()
s="INSERT INTO Data_Valt (Pies,Fruit,Cupcakes) VALUES (%s,%s,%s)"
sql=[
    ("Calamari","Orange","Custard"),
    ("Solami","Grapes","Choc Mint"),
    ("Soya","Nartjies","Caramel & choc"),
]
cur.executemany(s,sql)
mydb.commit()

In [5]:
#CREATE COLUMNS
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gcobanidike@25",
  database="mydatabase"
)

cur = mydb.cursor()

cur.execute("ALTER TABLE Data_Valt ADD Sweets varchar(255)")

In [ ]:
#CREATE COLUMNS
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gcobanidike@25",
  database="mydatabase"
)

cur = mydb.cursor()

cur.execute("ALTER TABLE Data_Valt ADD Veg varchar(255)")

In [ ]:
#CREATE COLUMNS
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gcobanidike@25",
  database="mydatabase"
)

cur = mydb.cursor()

cur.execute("ALTER TABLE Data_Valt ADD Pizza varchar(255)")

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gcobanidike@25",
  database="mydatabase"
)

cur = mydb.cursor()

cur.execute("SELECT Chips FROM mydatabase.Data_Valt")

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gcobanidike@25",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Chips (Chips VARCHAR(255), Quantity VARCHAR(255), Price VARCHAR(255))")

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gcobanidike@25",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "UPDATE Data_Valt SET Chips = 'Zimba' WHERE Chips = 'lo'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gcobanidike@25",
  database="mydatabase"
)

mycursor = mydb.cursor()
sql = "DELETE FROM Data_Valt WHERE Chips = 'sd'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Gcobanidike@25",
  database="mydatabase"
)

cur=mydb.cursor()
s="INSERT INTO Data_Valt (Sweets,Veg,Pizza) VALUES (%s,%s,%s)"
sql=[
    ("Pinpop","Butternut","tripple Decker"),
    ("Cardbury","Spinach","Ribs"),
    ("Milkit","Garlic","Kasi flavour"),
]
cur.executemany(s,sql)
mydb.commit()